trigger:
- main

pool:
  vmImage: ubuntu-latest

strategy:
  matrix:
    Python310:
      PYTHON_VERSION: '3.10'
    Python311:
      PYTHON_VERSION: '3.11'
    Python312:
      PYTHON_VERSION: '3.12'
  maxParallel: 3

steps:
- task: UsePythonVersion@0
  inputs:
    versionSpec: '$(PYTHON_VERSION)'
    architecture: 'x64'

- script: |
    python -m pip install --upgrade pip
    pip install -r requirements.txt
    pip install unittest-xml-reporting
  displayName: 'Install prerequisites'

- script: |
    python manage.py test --testrunner=xmlrunner.extra.djangotestrunner.XMLTestRunner
  displayName: 'Run tests (JUnit XML)'

- task: PublishTestResults@2
  inputs:
    testResultsFiles: '**/TEST-*.xml'
    testRunTitle: 'Python $(PYTHON_VERSION)'
  condition: succeededOrFailed()
